@model ReactCRUDAPI.Models.Sow

@{
}

<div>
    <dl class="dl-horizontal">
    <div class="form-container">

    <h4 class="pageTitle">Delete Sow</h4>
    <h3 class="pageSubtitle">Are you sure you want to delete this?</h3>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color custom-form-group">
            <input type="button" value="Cancel" class="customButton" onclick="location.href='@Url.Action("Index", "Sows")'" />
            <button type="submit" class="customButton customActionButton">Delete</button>
        </div>
    }
    </dl>
    </div>
</div>
